*.o
*.vcd
*.txt
*.out

.DS_Store

# load_bmp_image
load_bmp_image/C/*.bmp
load_bmp_image/RTL/*.bmp

# raw_to_bgr
raw_to_bgr/C/*.bmp
raw_to_bgr/RTL/*.bmp

# raw_to_gray
raw_to_gray/C/*.bmp
raw_to_gray/RTL/*.bmp

# bgr_to_gray
bgr_to_gray/C/*.bmp
bgr_to_gray/RTL/*.bmp

# binarization
binarization/C/*.bmp
binarization/RTL/*.bmp

# mean_filter
mean_filter/C/*.bmp
mean_filter/RTL/*.bmp

# median_filter
median_filter/C/*.bmp
median_filter/RTL/*.bmp

# image_vertical_flip
image_vertical_flip/C/*.bmp
image_vertical_flip/RTL/*.bmp

# image_horizontal_flip
image_horizontal_flip/C/*.bmp
image_horizontal_flip/RTL/*.bmp

# image_dilation
image_dilation/C/*.bmp
image_dilation/RTL/*.bmp

# image_erosion
image_erosion/C/*.bmp
image_erosion/RTL/*.bmp

# connected_components
connected_components/C/*.bmp
connected_components/RTL/*.bmp

# image_histogram
image_histogram/C/*.bmp
image_histogram/RTL/*.bmp

# histogram_equalization
histogram_equalization/C/*.bmp
histogram_equalization/RTL/*.bmp

# gaussian_blur_filter
gaussian_blur_filter/C/*.bmp
gaussian_blur_filter/RTL/*.bmp

# sobel_filter
sobel_filter/C/*.bmp
sobel_filter/RTL/*.bmp

# laplacian_filter
laplacian_filter/C/*.bmp
laplacian_filter/RTL/*.bmp