*.o
*.vcd
*.txt
*.out

// load_image
load_image/C/*.bmp
load_image/RTL/*.bmp

// bgr_to_gray
bgr_to_gray/C/*.bmp
bgr_to_gray/RTL/*.bmp

// binarization
binarization/C/*.bmp
binarization/RTL/*.bmp

// mean_filter
mean_filter/C/*.bmp
mean_filter/RTL/*.bmp

// median_filter
median_filter/C/*.bmp
median_filter/RTL/*.bmp